.DS_Store
MyApp/.DS_Store
MyApp/Pods
my_flutter/.dart_tool/

my_flutter/.packages
my_flutter/.pub/

my_flutter/.idea/
my_flutter/.vagrant/
my_flutter/.sconsign.dblite
my_flutter/.svn/

my_flutter/*.swp
my_flutter/profile

my_flutter/DerivedData/

my_flutter/.generated/

my_flutter/*.pbxuser
my_flutter/*.mode1v3
my_flutter/*.mode2v3
my_flutter/*.perspectivev3

!my_flutter/default.pbxuser
!my_flutter/default.mode1v3
!my_flutter/default.mode2v3
!my_flutter/default.perspectivev3

my_flutter/xcuserdata

my_flutter/*.moved-aside

my_flutter/*.pyc
my_flutter/*sync/
my_flutter/Icon?
.tags*

my_flutter/build/
my_flutter/.android/
my_flutter/.ios/
my_flutter/.flutter-plugins
my_flutter/.flutter-plugins-dependencies
